
  <ion-row>
    <ion-col *ngFor="let vowel of ABC[0]; index as index"
             [ngClass]="{'row-selected': currentIndex === index, 'active': currentIndex === index}">
      {{vowel}}
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let row of ABC.slice(1); index as rowIndex">
    <ion-col *ngFor="let cons of ABC.slice(1)[rowIndex]; index as index"
             [ngClass]="{'row-selected': currentIndex === index || currentIndex2 === rowIndex, 'active': currentIndex === index && currentIndex2 === rowIndex}"
             [ratoKey]="cons">
    </ion-col>
  </ion-row>
