<ion-grid>
  <ion-row>
    <ion-col [ngClass]="{'active': currentIndex === 0}"><img height="22px" src="assets/icon-key-enter.png" /></ion-col>
    <ion-col [ngClass]="{'active': currentIndex === 1}"><ion-icon name="arrow-round-up"></ion-icon></ion-col>
    <ion-col [ngClass]="{'active': currentIndex === 2}"><ion-icon name="arrow-round-down"></ion-icon></ion-col>
    <ion-col [ngClass]="{'active': currentIndex === 3}"><ion-icon name="arrow-round-back"></ion-icon></ion-col>
    <ion-col [ngClass]="{'active': currentIndex === 4}"><ion-icon name="arrow-round-forward"></ion-icon></ion-col>
    <ion-col [ngClass]="{'active': currentIndex === 5}"><img height="20px" src="assets/icon-keyboard.png" /></ion-col>
  </ion-row>
</ion-grid>
