ratocontrol {

  .active {
    font-weight: bold;
    color: color($colors, danger);
    background: #d6d6d6;
  }

  ion-col {
    text-align: center;
  }

  ion-icon {
    font-size: 24px;
  }

  ion-grid {
    padding-bottom: 0 !important;
  }
}
